/* This is my container for my testimonials */
.testimonial-section {
  margin: 40px auto;
  text-align: center;
  max-width: 1296px; /* Updated from 1200px to 1296px */
  /* background: linear-gradient(135deg, rgba(208, 166, 62, 0.8), rgba(68, 68, 68, 0.6));  */
  background:#D0A63E; 
  padding: 40px;
  border-radius: 10px;
}



.testimonial-title {
  font-size: 2rem;
  color: black; /* Golden color for the title */
  margin-bottom: 20px;
}

.testimonial-carousel {
  width: 100%;
}

.testimonial-wrapper {
  padding: 20px;
  /* background-color: #340f0f; */
/*  background: linear-gradient(135deg,#D0A63E, #444444);*/

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.testimonial-text {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin-bottom: 20px;
}

.testimonial-img-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.testimonial-person-info {
  margin-top: 15px;
  color: #555;
}

.testimonial-person-info b {
  font-size: 16px;
  color: #000;
}
